
<div
  class="main-container1"
>
  <div class="text-center">
    <h2><strong>Lower Costs</strong></h2>
    <hr />
    <p>
      One of the most tangible positives of e-commerce is the lowered cost. A
      part of these lowered costs could be passed on to customers in the form of
      discounted prices.
    </p>
  </div>
  <div class="container">
    <img
      src="https://img.freepik.com/free-vector/financial-crisis-business-concept-money-collapse_107791-10668.jpg?t=st=1647980664~exp=1647981264~hmac=725fab45706745d395154521dace85ec47f3a166282be4371e3df9f4f257fda4&w=996"
      class="img-fluid"
      alt="..."
    />
  </div>
</div>
<br /><br />
<div class="main-container2">
  <div class="container">
    <img
      src="https://img.freepik.com/free-vector/calm-businessman-meditating-scales-keep-harmony-choose-career-relax-business-family-leisure-money-office-job-home-work-life-balance-concept-flat-cartoon-style_88138-530.jpg?t=st=1647980896~exp=1647981496~hmac=0aed7a23e3e2691a290611e5e059ff8c9433bf1cb5ebbf0e5aa81fe97e2c3e5f&w=1060"
      class="img-fluid"
      alt="..."
    />
  </div>
  <div class="text-center">
    <h2><strong>Eliminate Travel Time and Cost</strong></h2>
    <hr />
    <p>
      It is not unusual for customers to travel long distances to reach their
      preferred physical store. E-commerce allows them to visit the same store
      virtually, with just a few mouse clicks.
    </p>
  </div>
</div>
<br /><br />
<div class="main-container3">
  <div class="text-center">
    <h2><strong>Provide Comparison Shopping </strong></h2>
    <hr />
    <p>
      E-commerce facilitates comparison shopping. There are several online
      services that allow customers to browse multiple e-commerce merchants and
      find the best prices.
    </p>
  </div>
  <div class="container">
    <img
      src="https://img.freepik.com/free-vector/thoughtful-people-making-difficult-choice-two-options-isolated-flat-illustration_74855-11083.jpg?t=st=1647980896~exp=1647981496~hmac=878a7e05e7d71f2c712be01e94ec3f654eacdf3a69de40a726c5d302dda1b8c1&w=1060"
      class="img-fluid"
      alt="..."
    />
  </div>
</div>
<br /><br />
<div class="main-container4">
  <div class="container">
    <img
      src="https://img.freepik.com/free-vector/24-hours-service-icon-flat-style-all-day-business-service-vector-illustration-isolated-background-quick-service-time-sign-business-concept_157943-789.jpg?w=740"
      class="img-fluid"
      alt="..."
    />
  </div>
  <div class="text-center">
    <h2><strong>Remain Open All the Time</strong></h2>
    <hr />
    <p>
      E-commerce websites can run all the time. From the merchant's point of
      view, this increases the number of orders they receive. From the
      customer's point of view, an "always open" store is more convenient.
    </p>
  </div>
</div>
