<h1 style="text-align:center;">Product-Data</h1>
<table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Category Id</th>
        <th scope="col">Description</th>
        <th scope="col">Rating</th>
        <th scope="col">Product Image</th>
        <th scope="col">Is Available</th>
        <th scope="col">Color</th>
        <th scope="col">Review</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of productList">
        <td>{{data.productName}}</td>
        <td>{{data.categoryId}}</td>
        <td>{{data.description}}</td>
        <td>{{data.rating}}</td>
        <td>{{data.productImg}}</td>
        <td>{{data.isAvailable}}</td>
        <td>{{data.color}}</td>
        <td>{{data.review}}</td>
        <td>{{data.price}}</td>
        <td>
          <!-- <button class="btn btn-info" (click)="editUserData(data)" >Edit</button> -->
          <!-- <button class="btn btn-danger"(click)="deleteUserData(data)">Delete</button> -->
        </td>
      </tr>
    </tbody>
  </table>
 