<div class="container">
    <nav class="navbar navbar-light d-fixed">
        <h4>Orders</h4>
        
      
    </nav>
    </div>
    <div class="container">
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">User Id</th>
          <th scope="col">Product Id</th>
          <th scope="col">Quantity</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of orderData">
          <td>{{data.id}}</td>
          <td>{{data.userId}}</td>
          <td>{{data.productId}}</td>
          <td>{{data.quantity}}</td>
          <td>{{data.status}}</td>
        </tr>
      </tbody>
    </table>
    </div>