<div class="container">
  <nav class="navbar navbar-light d-fixed">
    <div class="container-fluid">
      <h4>User Registered</h4>
      <div class="d-flex">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal1"
          (click)="clickAddProduct()"
        >
          Add Product
        </button>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">category Id</th>
        <th scope="col">Product Image</th>
        <th scope="col">Product Name</th>
        <th scope="col">Color</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Rating</th>
        <th scope="col">Available</th>
        <th scope="col">Review</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of productData">
        <td>{{ data.id }}</td>
        <td>{{ data.categoryId }}</td>
        <td><img
          src="{{data.productImg}}"
          class="img-fluid rounded-3" alt="Cotton T-shirt"></td>
        <!-- <td>{{ data.productImg }}</td> -->
        <td>{{ data.productname }}</td>
        <td>{{ data.color }}</td>
        <td>{{ data.descriptions }}</td>
        <td>{{ data.price | currency }}</td>
        <td>{{ data.rating }}</td>
        <td>{{ data.is_available }}</td>
        <td>{{ data.review }}</td>
        <td>
          <button
            type="button"
            class="btn btn-info"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal2"
            (click)="onEdit(data)"
          >
            Edit
          </button>
          <button class="btn btn-danger mx-3" (click)="deleteProductData(data)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal For Adding User-->
<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product Detail</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="addNewProduct()">
          <!-- Product Name -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Product Name</label>
            <input
              type="text"
              id="form1Example13"
              class="form-control form-control-lg"
              formControlName="productname"
            />
            <span
              *ngIf="
                productControl['productname'].errors &&
                (productControl['productname'].touched ||
                  productControl['productname'].dirty)
              "
            >
              <span
                *ngIf="productControl['productname'].errors?.['required']"
                class="text-danger"
                >Please provide your product name</span
              >
            </span>
          </div>
          <!-- Color input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Color</label>
            <input
              type="text"
              id="form1Example13"
              class="form-control form-control-lg"
              formControlName="color"
            />
            <span
              *ngIf="
                productControl['color'].errors &&
                (productControl['color'].touched ||
                  productControl['color'].dirty)
              "
            >
              <span
                *ngIf="productControl['color'].errors?.['required']"
                class="text-danger"
                >Please provide product color</span
              >
            </span>
          </div>
          <!-- Description input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Description</label
            >
            <textarea
              type="number"
              id="form1Example13"
              class="form-control form-control-lg"
              formControlName="descriptions"
            ></textarea>
            <span
              *ngIf="
                productControl['descriptions'].errors &&
                (productControl['descriptions'].touched ||
                  productControl['descriptions'].dirty)
              "
            >
              <span
                *ngIf="productControl['descriptions'].errors?.['required']"
                class="text-danger"
                >Please provide your product description</span
              >
            </span>
          </div>
          <!-- Image input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Product Image</label>
            <input type="url" id="img" name="img" accept="image/*" formControlName="productImg"/>
            <span
              *ngIf="
                productControl['productImg'].errors &&
                (productControl['productImg'].touched ||
                  productControl['productImg'].dirty)
              "
            >
              <span
                *ngIf="productControl['productImg'].errors?.['required']"
                class="text-danger"
                >Please provide your product image</span
              >
            </span>
          </div>
          <!-- Category input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13"
              >Select Category</label
            >
            <select
              id="form1Example13"
              class="form-control form-control-lg"
              formControlName="categoryId"
            >
              <option selected value="">Choose...</option>
              <option value="1">Electronics</option>
              <option value="2">Men</option>
              <option value="3">Women</option>
              <option value="4">Home & Furniture</option>
              <option value="5">Baby & Kids</option>
            </select>
            <span
              *ngIf="
                productControl['categoryId'].errors &&
                (productControl['categoryId'].touched ||
                  productControl['categoryId'].dirty)
              "
            >
              <span
                *ngIf="productControl['categoryId'].errors?.['required']"
                class="text-danger"
                >Please select product category</span
              >
            </span>
          </div>
          <!-- Price input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Price</label>
            <input
              id="form1Example13"
              class="form-control form-control-lg"
              formControlName="price"
              type="number"
            />
            <span
              *ngIf="
                productControl['price'].errors &&
                (productControl['price'].touched ||
                  productControl['price'].dirty)
              "
            >
              <span
                *ngIf="productControl['price'].errors?.['required']"
                class="text-danger"
                >Please provide your product price</span
              >
            </span>
          </div>
          <!-- Rating input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Rating</label>
            <select
              id="form1Example13"
              class="custom-select"
              formControlName="rating"
            >
              <option selected value="">Choose...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <span
              *ngIf="
                productControl['rating'].errors &&
                (productControl['rating'].touched ||
                  productControl['rating'].dirty)
              "
            >
              <span
                *ngIf="productControl['rating'].errors?.['required']"
                class="text-danger"
                >Please provide your product rating</span
              >
            </span>
          </div>
          <!-- Available input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Is Available</label>
            <select
              id="form1Example13"
              class="custom-select"
              formControlName="is_available"
            >
              <option selected value="">Choose...</option>
              <option value="5">Yes</option>
              <option value="0">No</option>
            </select>
            <span
              *ngIf="
                productControl['is_available'].errors &&
                (productControl['is_available'].touched ||
                  productControl['is_available'].dirty)
              "
            >
              <span
                *ngIf="productControl['is_available'].errors?.['required']"
                class="text-danger"
                >Please select your product availability</span
              >
            </span>
          </div>
          <!-- Reviews input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Reviews</label>
            <select
              id="form1Example13"
              class="custom-select"
              formControlName="review"
            >
              <option selected value="">Choose...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <span
              *ngIf="
                productControl['review'].errors &&
                (productControl['review'].touched ||
                  productControl['review'].dirty)
              "
            >
              <span
                *ngIf="productControl['review'].errors?.['required']"
                class="text-danger"
                >Please provide your product review</span
              >
            </span>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="cancel"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary btn-lg btn-block"
              (click)="addNewProduct()" [disabled]="productForm.invalid"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal For Updating Product-->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product Detail</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="addNewProduct()">
          <!-- Product Name -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Product Name</label>
            <input
              type="text"
              id="form1Example13"
              class="form-control form-control-lg"
              formControlName="productname"
            />
          </div>
          <!-- Color input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Color</label>
            <input
              type="text"
              id="form1Example13"
              class="form-control form-control-lg"
              formControlName="color"
            />
          </div>
          <!-- Description input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Description</label
            >
            <textarea
              type="number"
              id="form1Example13"
              class="form-control form-control-lg"
              formControlName="descriptions"
            ></textarea>
          </div>
          <!-- Image input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Product Image</label>
            <input type="url" id="img" name="img" accept="image/*" formControlName="productImg"/>
          </div>
          <!-- Category input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13"
              >Select Category</label
            >
            <select
              id="form1Example13"
              class="form-control form-control-lg"
              formControlName="categoryId"
            >
              <option selected value="">Choose...</option>
              <option value="1">Electronics</option>
              <option value="2">Men</option>
              <option value="3">Women</option>
              <option value="4">Home & Furniture</option>
              <option value="5">Baby & Kids</option>
            </select>
          </div>
          <!-- Price input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Price</label>
            <input
              type="text"
              id="form1Example13"
              class="form-control form-control-lg"
              formControlName="price"
            />
          </div>
          <!-- Rating input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Rating</label>
            <select
              id="form1Example13"
              class="custom-select"
              formControlName="rating"
            >
              <option selected value="">Choose...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <!-- Available input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Is Available</label>
            <select
              id="form1Example13"
              class="custom-select"
              formControlName="is_available"
            >
              <option selected value="">Choose...</option>
              <option value="5">Yes</option>
              <option value="0">No</option>
            </select>
          </div>
          <!-- Reviews input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Reviews</label>
            <select
              id="form1Example13"
              class="custom-select"
              formControlName="review"
            >
              <option selected value="">Choose...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="cancel"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary btn-lg btn-block"
              (click)="updateProduct()"
            >
              Update Product
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
