<app-header></app-header>
    <div class="container">
        <div style="width: 80%; margin: auto;">
            <img class="img-fluid" src="https://img.freepik.com/free-vector/page-found-with-people-connecting-plug-concept-illustration_114360-1927.jpg?t=st=1648811511~exp=1648812111~hmac=66987e7b2930250f8643d0f7c425f1063692feee66adc5b6c56028d9cb1dc09e&w=1060" alt="">
        </div>

        <h4 style="text-align: center;"> Please got home page <a routerLink="/products/view-all-product"><button class="btn btn-sm btn-primary">Home</button></a> </h4>
    </div>
<app-footer></app-footer>
