
<div class="about-section">
  <h1>About Us Page</h1>
  <p>
    Arabpati was founded to serve our client’s vision and provide, professional,
    high quality and reliable services. We are leading service provider of
    online shoppint, With vision to empower our customers for an ultimate online
    buying and selling experience, our earnest way to conduct business has made
    it easy for many savvy enterprises and companies to extend their reach using
    our platform.
  </p>
</div>

<h2 style="text-align: center; color: #fff">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img
        src="https://media.istockphoto.com/photos/millennial-male-team-leader-organize-virtual-workshop-with-employees-picture-id1300972574?b=1&k=20&m=1300972574&s=170667a&w=0&h=2nBGC7tr0kWIU8zRQ3dMg-C5JLo9H2sNUuDjQ5mlYfo="
        alt="Jane"
        style="width: 100%"
      />
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Hi I am Jane Doe CEO & Founder of Arabpati. Buy from Arabpati and make your future bright.</p>
        <p>jane@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="https://media.istockphoto.com/photos/hopeful-business-woman-picture-id1346462892?b=1&k=20&m=1346462892&s=170667a&w=0&h=GZsUO0zo3XKjH_y9__PiU2YDBS1Qklok9_Yc_PPr0-E="
        alt="Mike"
        style="width: 100%"
      />
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>My name is Ross, I am an Creative, Art Director & Designer.</p>
        <p>ross@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="https://media.istockphoto.com/photos/portrait-of-successful-black-male-modern-day-student-holding-picture-id1311634222?b=1&k=20&m=1311634222&s=170667a&w=0&h=VLNKNgkpFsX8413qVDq792wfkxbI9vDlOnCOLW5-PFY="
        alt="John"
        style="width: 100%"
      />
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Hi! I'm a graphic designer specialised in branding & web design</p>
        <p>doe@example.com</p>
      </div>
    </div>
  </div>
</div>

