<footer id="dk-footer" class="dk-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-us">
                            <div class="contact-icon">
                                <i class="fa fa-map-o" aria-hidden="true"></i>
                            </div>
                            <!-- End contact Icon -->
                            <div class="contact-info">
                                <h3>Lalitpur, Nepal</h3>
                                <p>Tikathali, Kharibot-32</p>
                            </div>
                            <!-- End Contact Info -->
                        </div>
                        <!-- End Contact Us -->
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="contact-us contact-us-last">
                            <div class="contact-icon">
                                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                            </div>
                            <!-- End contact Icon -->
                            <div class="contact-info">
                                <h3>+977-9860262080</h3>
                                <p>Give us a call</p>
                            </div>
                            <!-- End Contact Info -->
                        </div>
                        <!-- End Contact Us -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Contact Row -->
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="footer-widget footer-left-widget">
                            <div class="section-heading">
                                <h3>Useful Links</h3>
                                <span class="animate-border border-black"></span>
                            </div>
                            <ul>
                                <li>
                                    <a href="/products">Home</a>
                                </li>
                                <li>
                                    <a href="/aboutus">About Us</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="/services">Services</a>
                                </li>
                                <li>
                                    <a href="/comments">Testimonials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                    <div class="col-md-12 col-lg-6">
                        <div class="footer-widget">
                            <div class="section-heading">
                                <h3>Mail Us</h3>
                                <span class="animate-border border-black"></span>
                            </div>
                            <p style="color: #fff;">sthaprayash09@gmail.com</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Container -->
    <!-- Back to top -->
    <div id="btn" class="back-to-top">
        <button class="btn btn-dark" title="Back to Top" style="display: block;" (click)="scrollToTop()">
            <i class="fa fa-angle-up"></i>
        </button>
    </div>
    <!-- End Back to top -->
</footer>