<div class="card mt-4">
    <img src="" alt="" class="card-img-top img-fluid" src="https://via.placeholder.com/900X400" alt="">
    <div class="card-body">
        <h3 class="card-title">Product Name {{productID}}</h3>
        <h4>$24.55</h4>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel facere eaque nam tenetur impedit necessitatibus porro, quasi sequi est aut! Labore officiis, dolor commodi aut impedit natus asperiores architecto eligendi.</p>
        <span class="text-warining">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
        4.0 stars
    </div>
</div>
<!--card-->
<div class="card card-outlin-secondary my-4">
    <div class="card-header">
        Product Reviews
    </div>
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eos nulla nobis asperiores vitae odit eligendi, consequuntur quo autem assumenda doloremque, tempora commodi ratione quaerat quos blanditiis. Hic, error fugiat.</p>
        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
        <hr>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero recusandae velit laborum. Quis et doloribus est tempore iusto, mollitia voluptatum? Eos, voluptas eum? Quasi dolor repellat quas eligendi laudantium inventore?</p>
        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eos nulla nobis asperiores vitae odit eligendi, consequuntur quo autem assumenda doloremque, tempora commodi ratione quaerat quos blanditiis. Hic, error fugiat.</p>
        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
        <hr>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero recusandae velit laborum. Quis et doloribus est tempore iusto, mollitia voluptatum? Eos, voluptas eum? Quasi dolor repellat quas eligendi laudantium inventore?</p>
        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
        <hr>
        <a href="#" class="btn btn-success">Leave a Review</a>
    </div>
</div>